:root {
    --button-color: #004498;
  }
  *{
    box-sizing: border-box;
  }
  
  body {
    margin: 3em;
    color: rebeccapurple
  }
  a {
    text-decoration: none;
  }
  p {
    margin-bottom: 200px;
  }
  .button {
    cursor: pointer;
    display: inline-block;
    border: 3px solid var(--button-color);
    border-radius: 5px;
    padding: .8rem 2rem .8rem; 
    color: var(--button-color);
    margin-top: 2rem;
    margin-right: 1rem;
    transition: background-color 300ms, color 300ms;
    
  }
  
  .button:hover{
    color: #A5D1E7;
    background-color: var(--button-color);
  }