:root {
    --button-color: #004498;
    --font-color: #333;
    --heading-color:#004498;

  }
  picture img{
      width: 100%;
  }
  *{
    box-sizing: border-box;
  }
  
  body {
    color: var(--font-color)
    font-family: 'Nunito Sans', sans-serif;
}
a {
    text-decoration: none;
}
h1,h2,h3,h4 {
    color:var(--heading-color)
    font-family: 'Epilogue', sans-serif;
}
  p {
    margin-bottom: 200px;
  }
  .button {
    cursor: pointer;
    display: inline-block;
    border: 3px solid var(--button-color);
    border-radius: 5px;
    padding: .8rem 2rem .8rem; 
    color: var(--button-color);
    margin-top: 2rem;
    margin-right: 1rem;
    transition: background-color 300ms, color 300ms;
    
  }
  
  .button:hover{
    color: #A5D1E7;
    background-color: var(--button-color);
  }